header {
  height: calc(100%-120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
 
background-color: #9ddfd3;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

}
/*#A5D7E8*/