nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;

}

.logo {
  font-family: 'Bungee', cursive;

}
.parent2 {
  display: flex;
  box-sizing: inherit;
  flex-direction: column-reverse;
  justify-content: center;
}

.icon-container {
  align-self: center;
}

