.tweet-container {
  background-color: #f4f1ec;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: black solid 3px;
  transition: box-shadow 0.3s;
}

.tweet-container:hover {
  box-shadow: 5px 5px #4056a1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-content {
  margin-left: 10px;
  border-bottom: 3px solid #545149;
}

img {
  margin-right: 10px;
}

.tweet-icons {
  color: #4056a1;
  transition: color 0.3s;
}

.tweet-icons i:hover {
  color: #9ddfd3;
}

.tweet-username {
  color: #d7d5db;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
  .new-tweet {
    padding-top: 50px;
  }
  header {
    margin-top: 160px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
